*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{
  --primary-color: #60a5fa;
  --light--primary-color :  #93c5fd;
}
.primaryBtn{
  background-color: var(--primary-color);
  border:0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  padding: 4px 8px;
  font-size: large;
  color:white; 
  font-weight: 700;
  border-radius: 4px;
}
